In [1]:
import alpaca_trade_api as tradeapi

api = tradeapi.REST('<insert api ID>', '<insert secret>', base_url='https://paper-api.alpaca.markets') # or use ENV Vars shown below
account = api.get_account()
account

# https://github.com/alpacahq/alpaca-trade-api-python/tree/cd22b3393aff8df214d867b6a4723a21ea34a3c0

Account({   'account_blocked': False,
    'account_number': 'PA2E0F7YERPO',
    'buying_power': '304474.672',
    'cash': '37924.42',
    'created_at': '2020-11-17T17:28:00.960389Z',
    'currency': 'USD',
    'daytrade_count': 0,
    'daytrading_buying_power': '304474.672',
    'equity': '101158.42',
    'id': '7f81289d-15ed-40ed-85a3-1e831cce3b12',
    'initial_margin': '31617',
    'last_equity': '101249.22',
    'last_maintenance_margin': '9213.552',
    'long_market_value': '63234',
    'maintenance_margin': '18970.2',
    'multiplier': '4',
    'pattern_day_trader': False,
    'portfolio_value': '101158.42',
    'regt_buying_power': '139082.84',
    'short_market_value': '0',
    'shorting_enabled': True,
    'sma': '0',
    'status': 'ACTIVE',
    'trade_suspended_by_user': False,
    'trading_blocked': False,
    'transfers_blocked': False})

In [53]:
barset = api.get_barset('TSLA',
           'day',
           limit = 10).df['TSLA']

In [54]:
barset

                               open      high       low     close    volume
time
2020-12-02 00:00:00-05:00  556.4400  571.5400  541.2100  568.8000  42857218
2020-12-03 00:00:00-05:00  590.0200  598.9700  582.4300  593.2800  38701927
2020-12-04 00:00:00-05:00  591.0100  599.0000  585.5000  599.0000  27209889
2020-12-07 00:00:00-05:00  604.9197  648.7856  603.0500  642.0000  52961574
2020-12-08 00:00:00-05:00  625.5050  651.2800  618.5000  649.8800  57528420
2020-12-09 00:00:00-05:00  653.6900  654.3200  588.0000  604.1700  68444975
2020-12-10 00:00:00-05:00  574.3700  627.7500  566.3400  627.3300  62320233
2020-12-11 00:00:00-05:00  615.0100  624.0000  596.8000  610.0000  44794782
2020-12-14 00:00:00-05:00  619.0000  642.7499  610.2001  639.7900  50301458
2020-12-15 00:00:00-05:00  643.2800  646.9000  623.8000  633.5938  35545793

In [20]:
barset['close'][-2]

639.79

In [21]:
barset['open'][-2]

619.0

In [58]:
import pandas as pd
NY = 'America/New_York'

In [62]:
start_hi=pd.Timestamp('2020-08-01', tz=NY).isoformat()
end_hello=pd.Timestamp('2020-08-30', tz=NY).isoformat()
barset2 = api.get_barset(['AAPL', 'GOOG'], 'day', start=start_hi, end=end_hello).df

In [59]:
start=pd.Timestamp('2020-08-01', tz=NY).isoformat()
start

'2020-08-01T00:00:00-04:00'

In [66]:
barset2['AAPL']['close'][-1]

498.83

In [68]:
# Minute data example
start=pd.Timestamp('2020-08-28 9:30', tz=NY).isoformat()
end=pd.Timestamp('2020-08-28 16:00', tz=NY).isoformat()
barset3 = api.get_barset(['AAPL', 'GOOG'], 'minute', start=start, end=end).df

In [70]:
barset3['GOOG']['close'][-1]

1642.58

In [88]:
barset3

                              AAPL                                     \
                              open     high      low   close   volume
time
2020-08-28 09:30:00-04:00  504.100  505.020  503.895  504.93   9801.0
2020-08-28 09:31:00-04:00  504.890  504.890  503.000  503.42   4220.0
2020-08-28 09:32:00-04:00  503.410  503.410  502.250  502.63   4416.0
2020-08-28 09:33:00-04:00  502.600  503.260  502.600  503.26   2487.0
2020-08-28 09:34:00-04:00  503.040  503.360  502.870  503.36   3079.0
...                            ...      ...      ...     ...      ...
2020-08-28 15:55:00-04:00  499.395  500.736  499.320  500.64  15712.0
2020-08-28 15:56:00-04:00  500.630  500.630  498.970  499.26  28614.0
2020-08-28 15:57:00-04:00  499.120  500.730  499.030  499.99  19125.0
2020-08-28 15:58:00-04:00  499.950  499.970  499.290  499.54  28301.0
2020-08-28 15:59:00-04:00  499.545  499.700  498.940  499.18  19513.0

                              GOOG
                              open     high      low    close  volume
time
2020-08-28 09:30:00-04:00  1634.23  1634.23  1634.23  1634.23   332.0
2020-08-28 09:31:00-04:00      NaN      NaN      NaN      NaN     NaN
2020-08-28 09:32:00-04:00  1633.70  1633.70  1633.70  1633.70   280.0
2020-08-28 09:33:00-04:00  1632.68  1632.68  1631.08  1632.20  1324.0
2020-08-28 09:34:00-04:00  1632.58  1633.93  1632.58  1633.93   300.0
...                            ...      ...      ...      ...     ...
2020-08-28 15:55:00-04:00  1642.96  1642.96  1642.96  1642.96   173.0
2020-08-28 15:56:00-04:00  1642.85  1643.35  1642.42  1643.35   555.0
2020-08-28 15:57:00-04:00  1644.04  1644.49  1643.42  1644.49  1638.0
2020-08-28 15:58:00-04:00  1644.21  1644.58  1643.48  1643.48   506.0
2020-08-28 15:59:00-04:00  1642.80  1642.80  1642.58  1642.58   540.0

[384 rows x 10 columns]

In [89]:
barset3['GOOG'].loc['2020-08-28 09:33:00-04:00']

open      1632.68
high      1632.68
low       1631.08
close     1632.20
volume    1324.00
Name: 2020-08-28 09:33:00-04:00, dtype: float64

In [90]:
barset3['GOOG'].loc['2020-08-28 09:33:00-04:00':'2020-08-28 10:03:00-04:00']

                               open      high       low     close  volume
time
2020-08-28 09:33:00-04:00  1632.680  1632.680  1631.080  1632.200  1324.0
2020-08-28 09:34:00-04:00  1632.580  1633.930  1632.580  1633.930   300.0
2020-08-28 09:35:00-04:00  1632.870  1636.055  1632.870  1636.050  1496.0
2020-08-28 09:36:00-04:00  1635.870  1636.130  1635.450  1635.500   824.0
2020-08-28 09:37:00-04:00  1635.000  1635.290  1635.000  1635.290  1788.0
2020-08-28 09:38:00-04:00  1634.610  1635.830  1634.610  1635.830   708.0
2020-08-28 09:39:00-04:00  1636.035  1636.050  1632.870  1632.870  1120.0
2020-08-28 09:40:00-04:00  1632.325  1632.690  1632.000  1632.510   700.0
2020-08-28 09:41:00-04:00  1632.910  1633.345  1632.910  1633.345   404.0
2020-08-28 09:42:00-04:00  1633.170  1634.450  1633.100  1634.450  1107.0
2020-08-28 09:43:00-04:00  1634.530  1635.010  1634.530  1635.010   400.0
2020-08-28 09:44:00-04:00  1637.170  1637.170  1637.170  1637.170   116.0
2020-08-28 09:45:00-04:00  1637.570  1637.570  1637.570  1637.570   171.0
2020-08-28 09:46:00-04:00  1636.000  1636.000  1636.000  1636.000   172.0
2020-08-28 09:47:00-04:00       NaN       NaN       NaN       NaN     NaN
2020-08-28 09:48:00-04:00  1635.890  1635.890  1635.890  1635.890   188.0
2020-08-28 09:49:00-04:00  1635.630  1635.630  1635.630  1635.630   200.0
2020-08-28 09:50:00-04:00  1635.295  1635.295  1635.275  1635.275   576.0
2020-08-28 09:51:00-04:00  1635.000  1635.000  1634.940  1634.940   535.0
2020-08-28 09:52:00-04:00       NaN       NaN       NaN       NaN     NaN
2020-08-28 09:53:00-04:00  1637.460  1637.460  1637.460  1637.460   155.0
2020-08-28 09:54:00-04:00  1637.460  1637.460  1637.460  1637.460   101.0
2020-08-28 09:55:00-04:00  1636.710  1637.630  1636.710  1637.630   410.0
2020-08-28 09:56:00-04:00       NaN       NaN       NaN       NaN     NaN
2020-08-28 09:57:00-04:00       NaN       NaN       NaN       NaN     NaN
2020-08-28 09:58:00-04:00       NaN       NaN       NaN       NaN     NaN
2020-08-28 09:59:00-04:00  1638.000  1638.000  1638.000  1638.000   102.0
2020-08-28 10:00:00-04:00  1638.670  1638.670  1638.670  1638.670   100.0
2020-08-28 10:01:00-04:00  1639.780  1641.730  1639.780  1641.730   234.0
2020-08-28 10:02:00-04:00  1641.790  1641.790  1641.570  1641.570   234.0
2020-08-28 10:03:00-04:00       NaN       NaN       NaN       NaN     NaN